
body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  /*padding: 10px;*/
  font-size: 3em;
}

/* Starting display */
/*----------------------*/
/*     Player Setup     */
/*----------------------*/


/* http://stackoverflow.com/questions/39196409/background-image-resizing-issue */
#player-setup {
    color: white;


    top: 0; right: 0; bottom: 0; left: 0;
    position: relative;

    /*background-image: url("../images/thunderdome.jpg");*/
    /*background-image: url("https://johnkennethmuir.files.wordpress.com/2010/12/thunderdome5.jpg");*/

    background-image: url("http://d2rormqr1qwzpz.cloudfront.net/photos/2015/06/29/77694-2857922079_d01e6bd668_o.jpg");
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    min-width: 90vw;
}


.player-setup--welcome {
    text-align: center;
}

.player-setup--battle-button {
    position: fixed;
    bottom: 0;
    text-align: center;
}
